@inject NavigationManager Nav

<div class="card @(CardClass)"
     @onclick="@(IsLocked ? null : Go)">
    <h3>Day @DayNumber</h3>
    @if (IsCurrent)
    {
        <p class="card-sub">Today</p>
    }
    else if (IsLocked)
    {
        <p class="card-sub muted">Locked</p>
    }
    else
    {
        <p class="card-sub muted">Finished</p>
    }
</div>

@code {
    [Parameter] public int DayNumber { get; set; }
    [Parameter] public int PlanId { get; set; }

    [Parameter] public int CompletedDays { get; set; }
    [Parameter] public bool IsLocked { get; set; }
    [Parameter] public bool IsCurrent { get; set; }


    [Parameter]
    public int completed { get; set; }

    string CardClass =>
        IsLocked ? "card-locked"
        : IsCurrent ? "card-next" 
        : "card-finished";

    void Go()
    {
        Nav.NavigateTo(
            $"/plan/{PlanId}/day/{DayNumber}?completed={completed}");
    }
}
