<nav>
    <div class="sidebar-nav">
        <div class="sidebar-logo">
            <img src="iconCali-192.png" alt="HundredDays" />
        </div>

        <NavLink href="/" Match="NavLinkMatch.All">
            <span>Dashboard</span>
        </NavLink>

        <NavLink href="/plans">
            <span>Workouts</span>
        </NavLink>
    </div>

    <div class="bottom-nav">
        <NavLink href="/" Match="NavLinkMatch.All">
            <img src="home.svg" alt="Dashboard" />
        </NavLink>
        <NavLink href="/plans">
            <img src="workouts.svg" alt="Workouts" />
        </NavLink>
    </div>
</nav>
