@page "/plan/{PlanId:int}"
@using HundredDays.Components
@using HundredDays.Services
@inject WorkoutApi Api
@inject NavigationManager Nav

<div class="page-header">
    <button class="back-button" @onclick="GoBack">
        ← Back
    </button>

    @if (CurrentPlan == null)
    {
        <h1 class="skeleton-text">Loading plan</h1>
    }
    else
    {
        <h1>@CurrentPlan</h1>
        <p>@Description</p>
    }
</div>

@if (Days == null)
{
    <div class="grid">
        @for (int i = 0; i < 6; i++)
        {
            <div class="card skeleton-line"></div>
        }
    </div>
}
else
{
    <div class="grid">
        @foreach (var day in Days)
        {
            <DayCard DayNumber="day"
                     PlanId="PlanId"
                     IsNext="@(day == NextDay)"
                     IsLocked="@(IsLocked(day))" />
        }
    </div>
}

@code {
    [Parameter] public int PlanId { get; set; }

    List<int>? Days;
    string? CurrentPlan;
    string? Description;
    int? NextDay;
    HashSet<int> FinishedDays = new();

    protected override async Task OnInitializedAsync()
    {
        var daysTask = Api.GetDays(PlanId);
        var plansTask = Api.GetPlans();

        await Task.WhenAll(daysTask, plansTask);

        Days = daysTask.Result;

        CurrentPlan = plansTask.Result
            .FirstOrDefault(p => p.Id == PlanId)?.Name;
        Description = plansTask.Result.FirstOrDefault(k => k.Id == PlanId)?.Description;

        var progressTasks = Days.Select(day =>
            Api.GetDayProgress(PlanId, day)
               .ContinueWith(t => (day, t.Result))
        );

        var results = await Task.WhenAll(progressTasks);

        foreach (var (day, progress) in results)
        {
            if (progress.total > 0 && progress.done == progress.total)
            {
                FinishedDays.Add(day);
            }
            else
            {
                NextDay ??= day;
            }
        }
    }

    bool IsLocked(int day)
    {
        if (FinishedDays.Contains(day)) return false;
        if (day == NextDay) return false;
        return true;
    }

    void GoBack()
    {
        Nav.NavigateTo("/");
    }
}
