@page "/plan/{PlanId:int}"
@using HundredDays.Components
@using HundredDays.Services
@inject WorkoutApi Api
@inject NavigationManager Nav

<div class="page-header">
    @if (CurrentPlan == null)
    {
        <h1 class="skeleton-text">Loading plan</h1>
    }
    else
    {
        <button class="back-button" @onclick="GoBack">
            ← Back
        </button>
        <h1>@CurrentPlan</h1>
        <p>@Description</p>
    }
</div>

@if (Days == null)
{
    <div class="grid">
        @for (int i = 0; i < 6; i++)
        {
            <div class="card skeleton-line"></div>
        }
    </div>
}
else
{
    <div class="grid">
        @foreach (var day in Days)
        {
            <DayCard DayNumber="day.DayId"
                     PlanId="PlanId"
                     IsLocked="@(day.DayId > CurrentDay)"
                     IsCurrent="@(day.DayId == CurrentDay)"
                     completed="completed"        />
        }
    </div>
}

@code {
    [Parameter] public int PlanId { get; set; }

    List<DayOverviewDto>? Days;
    string? CurrentPlan;
    string? Description;


    [SupplyParameterFromQuery]
    public int completed { get; set; }

    int CurrentDay;

    protected override async Task OnInitializedAsync()
    {

        Days = await Api.GetDays(PlanId);
        var plans = await Api.GetPlans();

        var plan = plans.FirstOrDefault(p => p.Id == PlanId);
        CurrentPlan = plan?.Name;
        Description = plan?.Description;

        CurrentDay = completed + 1;
    }

    void GoBack()
    {
        Nav.NavigateTo("/plans");
    }
}
