@page "/Templates/{TemplateId:int}"
@using HundredDays.Components
@using HundredDays.Services
@inject WorkoutApi Api
@inject NavigationManager Nav


<button class="back-button" @onclick="GoBack">
    ← Back
</button>

<h3>@(CurrentTemplate?.Name ?? "")</h3>

<div class="exerciseContainer">
    @foreach (var item in exercises ?? [])
    {
        <div class="exercise">
            <p>@item.Name</p>
            <p>@item.Sets x @item.Reps</p>
        </div>
    }
</div>

<button class="finish-button" @onclick="StartWorkout">
    Start Workout
</button>

@code {
    [Parameter] public int TemplateId { get; set; }

    public WorkoutTemplatesDto? CurrentTemplate { get; set; }
    List<TemplateExerciseDto>? exercises;

    protected override async Task OnInitializedAsync()
    {
        var list = await Api.GetTemplates();
        CurrentTemplate = list.FirstOrDefault(k => k.Id == TemplateId);

        exercises = CurrentTemplate?.Exercises;
    }

    private async Task StartWorkout()
    {
        if (CurrentTemplate == null)
            return;

        var session = await Api.StartWorkoutSession(CurrentTemplate.Id);

        Nav.NavigateTo($"/workout-session/{session.SessionId}");
    }

    void GoBack()
    {
        Nav.NavigateTo("/");
    }

}
