name: Build Frontend

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET 10
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 10.0.x

      - name: Verify project exists
        run: ls

      - name: Publish Blazor WASM
        run: dotnet publish ./HundredDays.csproj -c Release

      - name: Verify publish output
        run: |
          grep blazor.webassembly bin/Release/net10.0/publish/wwwroot/index.html

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: hundreddays-frontend
          path: bin/Release/net10.0/publish/wwwroot
