name: Build Frontend

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET 10
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 10.0.x

      - name: Clean
        run: dotnet clean HundredDays.csproj

      - name: Publish WASM
        run: dotnet publish HundredDays.csproj -c Release -o publish

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: hundreddays-frontend
          path: publish/wwwroot
