name: Build Frontend

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 9.0.x

      - name: Publish Blazor WASM
        run: |
          dotnet publish ./HundredDays.csproj -c Release -o ./out

      - name: Upload frontend artifact
        uses: actions/upload-artifact@v4
        with:
          name: hundreddays-frontend
          path: out/wwwroot
